# API Backend URL
VITE_API_URL=http://localhost:3000

# Entorno de ejecución
VITE_ENV=development

# AWS S3 (para upload directo desde frontend)
# Se configurarán en producción con URLs pre-firmadas
# VITE_S3_REGION=us-east-1
# VITE_S3_BUCKET=sgrc-imagenes-prod
